PORT=5000
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb+srv://kullanici:sifre@cluster.mongodb.net/fraktia
JWT_SECRET=buraya_uzun_rastgele_bir_dize_gelecek
REDIS_URL=redis://localhost:6379
NODE_ENV=development
